@charset "UTF-8";

/* 슬라이더를 중앙에 배치하고, 컨테이너 너비 조정 */
.promo-container {
    margin: 0 auto; /* 가운데 정렬 */
    width: 100%;  /* 반응형으로 변경 */
    max-width: 1400px;  /* 최대 너비 설정 */
    height: 600px;  /* 높이 조정 */
    overflow: hidden; /* 슬라이더가 컨테이너를 넘어서지 않도록 설정 */
    position: relative;   /* 포지션을 상대적으로 설정 */
}

.image-slide {
    width: 100%; /* 컨테이너 너비에 맞춤 */
    height: 100%; /* 컨테이너 높이에 맞춤 */
    object-fit: cover; /* 이미지 비율 유지하면서 컨테이너에 맞춤 */
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
}

/* slick-carousel 기본 스타일 */
.slick-slide {
    height: 100%; /* 슬라이드의 높이를 컨테이너에 맞춤 */
    margin: 0; /* 기본 마진 제거 */
    padding: 0; /* 기본 패딩 제거 */
    display: flex; /* 플렉스 박스 사용 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}

.slick-track {
    display: flex;
    align-items: center; /* 슬라이드 중앙 정렬 */
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .promo-container {
        height: 400px;
    }
    
    .image-slide {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}


